* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    position: relative;
    align-items: center;
    top: 0px;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

#logo {
    margin: 10px 34px;

}

#logo img {
   
    height: 60px;
    margin: 3px 6px;

}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 2px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;

}

/* home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 411px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('../img/background-image.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}


/* Services Section */

#services {
    background-color: white;
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #d1686861;
    margin-bottom: 20px;
}

#services .box img {
    mix-blend-mode: color-burn;
    height: 100px;
    display: block;
    margin: auto;
}

/* client section  */
#client-section {
    position: relative;


}

#client-section::before {
    content: "";
    position: absolute;
    background: url('../img/plate-2802332_1280.jpg');
    width: 100%;
    height: 50%;
    z-index: -1;
    opacity: 0.3;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;

}

#clients img {
    mix-blend-mode: color-burn;
    height: 124px;

}

.client-item {
    padding: 34px;
}


/* contact section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/contact-us.jpg') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    width: 40%;
    font-size: 1.4rem;
    font-family: 'Baloo Bhai 2';
    font-size: 22px;
}



#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* classe */
.h-prime {

    font-size: 22px;
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;
    font-family: 'Baloo Bhai 2';
    font-size: 22px;
}

.h-secondary {
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}